.btn-pill {
    background-color:black;
    color: white;
    btn-align: center;
  }

  @font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: normal;
  src: local('Bebas Neue'), url('BebasNeue.woff') format('woff')
  }

  
 

  

  h2 {
    font-family: helvetica;
    letter-spacing:4px;
    font-size: 1em;
    text-align: center;
  }
