<head>
  <link rel="stylesheet" href="css/login.css">
</head>
<hgroup>
  <h1>Log In</h1>
</hgroup>
<form action='/login' method='post'>
  <div class="group">
    <input type="username" placeholder="Username" name="username" required>

  </div>

 <div class="group">
    <input type="password" placeholder="Password" name="password" required>
  </div>
   <button type="submit" class="button buttonBlue">Log in
    <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
  </button>


</form>