<div class="text-center"><h1>Welcome to <%= @user.username.capitalize %>'s Destiny Loadouts</h1>

<% if @user.loadouts.empty? %>
   <div class="text-center"><p>You do not have any saved loadouts! </p>
   <p><a class="btn btn-success" style="margin: 20px" href="/loadouts/new" role="button">Add a New Loadout</a>
<% else %>

<div class="text-center">
   <a class="btn btn-success" style="margin: 20px" href="/loadouts/new" role="button">+ Add New</a>
</div>
<% end %>

<div class="row">
  <% @user.loadouts.each do |loadout| %>
     <div class="card" style="width: 15rem; margin: 20px">
      <div class="text-center">
       <div class="card-header"><a href='/loadouts/<%= loadout.id %>'><%= loadout.title %></a></div>
     </div>
</div>
  <% end %>
