<html>
  <head>
    <style>
      .btn-pill {
        background-color:black;
        color: white;
      }

      @font-face {
      font-family: 'Bebas Neue';
      font-style: normal;
      font-weight: normal;
      src: local('Bebas Neue'), url('BebasNeue.woff') format('woff')
      }

      
        background-color: rgba(50, 50, 50, 0.6);
      }

    
        background-image:url('public/images/The_Tower.jpeg');
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 35vh;
        display: block;
        color: red;
        text-align: center;
        height: 100vh;
      }

      h2 {
        font-family: helvetica;
        letter-spacing:4px;
        font-size: 1em;
      }


    </style>
  </head>
  <body>
</div>
    <div id ="background"
      <div id ="text-overlay">
        <h2><b>Destiny Loadouts</b></h2>
        <h1 style="font-family:'Bebas Neue';font-weight:normal;font-size:5em">Easily Save Your Destiny Loadouts</h1>
            <a href="/signup" class="button btn btn-primary btn-primary-outline btn-pill">Sign Up</a>
            <a href="/login" class="button btn btn-primary btn-primary-outline btn-pill">Log In</a>
      </div>
    </div>
  </body>
</html