<html>
  <head>
  <link rel="stylesheet" href="css/index.css">
  </head>
  <body>
</div>
    <div id ="background"
      <div id ="text-overlay">
        <h2 style ="text-align: center;"><b>Destiny Loadouts</b></h2>
        <h1 style="font-family:'Bebas Neue';font-weight:normal;font-size:3em;text-align: center;">Easily Save Your Destiny Loadouts</h1>
            <a href="/signup" class="button btn btn-primary btn-primary-outline btn-pill">Sign Up</a>
            <a href="/login" class="button btn btn-primary btn-primary-outline btn-pill">Log In</a>
      </div>
    </div>
  </body>
</html